.contact {
  @include content-cntnr;
  background: color(bg, content);
  padding-top: 0;
}

.contact__title { @include content-title; }

.contact__section {
  display: inline-block;
  transition: transform 0.3s ease;
  vertical-align: top;
  will-change: transform;

  @include breakpoint--medium-and-up {
    width: 45%;

    & + & { margin-left: 10%; }
  }

  @include breakpoint--medium-and-down {
    margin-bottom: 1rem;
    width: 100%;
  }

  .contact:not(.fail) &, .contact:not(.success) & {
    transform: translate3D(0, -1.5em, 0);
  }

  .contact.fail &, .contact.success & {
    transform: none;
  }
}

.contact__label {
  color: color(font, highlight);
  display: block;
  transition: opacity 0.3s ease 0.1s, transform 0.3s ease 0.1s;
  will-change: opacity, transform;

  &:not(.show) { opacity: 0; transform: translate3D(1.5em, 0, 0); }
  &.show { opacity: 1; transform: none; }
}

.contact__feedback {
  align-items: center;
  border: 0.2em solid transparent;
  display: flex;
  height: 3em;
  justify-content: center;
  margin: -1em auto 0.5em;
  padding: 0 0.5em;
  text-align: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
  width: 80%;
  will-change: background-color, border-color, color, opacity;

  @include breakpoint--medium-and-up { width: 80%; }
  @include breakpoint--medium-and-down { width: 100%; }
  @include breakpoint--tiny { height: 4em; }

  .contact:not(.fail) &, .contact:not(.success) & {
    opacity: 0;
    transform: translate3D(0, 1.5em, 0);
  }

  .contact.fail & {
    background-color: lighten(color(states, invalid), 50%);
    border-color: color(states, invalid);
    color: color(states, invalid);
    opacity: 1;
    transform: none;
  }

  .contact.success & {
    background-color: lighten(color(states, valid), 32%);
    border-color: color(states, valid);
    color: color(states, valid);
    opacity: 1;
    transform: none;
  }
}

.contact__field {
  appearance: none;
  border: none;
  border-bottom: 0.2em solid color(bg, highlight);
  border-radius: 0;
  margin: 0.5em 0 1em;
  padding: 0.25em;
  transition: all 0.3s ease;
  width: 100%;
  will-change: border;

  &:active, &:focus {
    border-color: color(font, activeLink);
    outline: 0;
  }

  &:not(:placeholder-shown):invalid { border-bottom-color: color(states, invalid); }
  &:not(:focus):valid { border-bottom-color: color(states, valid); }
}

.contact__message {
  appearance: none;
  border: 0.2em solid color(bg, highlight);
  border-radius: 0;
  height: 8em;
  margin: 0.5em 0 1em;
  padding: 0.5em;
  resize: vertical;
  transition: border 0.3s ease;
  width: 100%;
  will-change: border;

  &:active, &:focus {
    border-color: color(font, activeLink);
    outline: 0;
  }
}

.contact__submit {
  appearance: none;
  background: transparent;
  border: 0.2rem solid color(font, activeLink);
  border-radius: 0;
  color: color(font, activeLink);
  font-size: 1em;
  height: 4rem;
  outline: 0;
  position: relative;
  text-transform: uppercase;
  transition: all 0.2s ease;
  width: 10rem;
  will-change: background, border, color;

  &:active, &:focus {
    background: color(font, activeLink);
    color: color(bg, content);
    outline: 0;
  }

  .contact.success & {
    background: color(states, valid);
    border-color: color(states, valid);
    color: color(states, valid);
  }

  .contact.loading & {
    background: color(font, activeLink);
    color: color(font, activeLink);
  }
}

.contact__icon--spinner {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translate3D(50%, 0, 0);
  transition: opacity 0.2s ease, transform 0.2s ease;
  width: 100%;

  &:before {
    border-radius: 50%;
    border: 0.2rem solid color(bg, content);
    border-top-color: rgba(color(bg, content), 0.25);
    bottom: 0;
    content: '';
    height: 2rem;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 2rem;
    will-change: opacity;
  }


  .contact.loading & {
    opacity: 1;
    transform: none;

    &:before {
      animation: spinner 0.6s linear infinite;
    }
  }

  .contact.success & {
    opacity: 0;
    transform: translate3D(-50%, 0, 0);
  }
}

.contact__icon--success {
  bottom: 0;
  color: color(bg, content);
  content: '';
  font-size: 2em;
  height: 2rem;
  left: 0;
  line-height: 0.8;
  margin: auto;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate3D(50%, 0, 0);
  transition: opacity 0.2s ease, transform 0.2s ease;
  width: 2rem;

  .contact.success & {
    opacity: 1;
    transform: none;
  }
}

@keyframes spinner {
  0% { transform: none; }
  100% { transform: rotate(360deg); }
}
