.header {
  @include content-cntnr;
  background: color(bg, header);
  border-top: 0.2em solid color(font, highlight);
  box-shadow: inset 0 -20em 20em -10em darken(color(bg, header), 5%);
  padding: 6em 0 2rem 0;
  position: relative;
  text-align: center;
}

// .header.lights-out::after {
//   background: rgba(0,0,0,0.5);
//   bottom: 0;
//   content: '';
//   left: 0;
//   margin: auto;
//   position: absolute;
//   right: 0;
//   top: 0;
// }

.header__title {
  display: inline-block;
  padding: 0 0 $breakpoint__unit--padding;
}

.header__name {
  color: color(bg, content);
  font-size: 2.5em;
  padding: 0 1em;
  position: relative;

  .header__title:not(.show) & { opacity: 0; }

  .header__title.show & {
    animation: header-title--animate 0.5s ease-in-out;
    opacity: 1;
  }

  &::after {
    background-color: darken(color(bg, header), 12%);
    bottom: 0.06em;
    content: '';
    height: 0.04em;
    left: 0;
    position: absolute;
    transition: opacity 0.3s ease 0.5s, transform 0.3s ease 0.5s;
    width: 100%;

    .header__title:not(.show) & { opacity: 0; transform: scale3D(0, 1, 1); }
    .header__title.show & { opacity: 1; transform: scale3D(1, 1, 1); }
  }
}

.header__subtitle {
  color: color(font, highlight);
  transition: opacity 0.3s ease 0.6s, transform 0.3s ease 0.6s;

  .header__title:not(.show) & {
    opacity: 0;
    transform: translate3D(0, 50%, 0);
  }

  .header__title.show & {
    opacity: 1;
    transform: none;
  }
}

.header__canvas {
  display: block;
  width: 100%;
}

@keyframes header-title--animate {
  0% { transform: scale3D(0, 0, 1); opacity: 0; }
  60% { transform: scale3D(1.2, 1.2, 1); opacity: 1; }
  80% { transform: scale3D(0.9, 0.9, 1); }
  100% { transform: scale3D(1, 1, 1); }
}
