body {
  background: color(bg);
  color: color(font);
  font-family: font(body);
  line-height: 1.6;
  margin: 0 auto;
  max-width: $breakpoint__width--large;
  min-height: 100vh;
  min-width: $breakpoint__width--min;
  user-select: none;

  @include breakpoint--small-and-up { font-size: 1.2em; }
  @include breakpoint--small-and-down { font-size: 1em; }
}

h1, h2 {
  font-family: font(headline);
  font-size: 2em;
  font-weight: normal;
  letter-spacing: 1px;
  user-select: auto;
}

p {
  user-select: auto;

  & + & { margin-top: 0.5rem; }
}

a { text-decoration: none; }

input, textarea {
  font-family: font(body);
  font-size: 1em;
  line-height: 1.6;
}
